<!DOCTYPE html>
<html lang="en">
  <p>A resume written with the most popular frontend frameworks.</p>
  <ul>
    <li>
      <a href="https://docs.astro.build/en/core-concepts/framework-components/">
        Astro Frameworks
      </a>
    </li>
    <li>
      <a
        href="https://npmtrends.com/@angular/core-vs-alpinejs-vs-lit-vs-preact-vs-react-vs-solid-js-vs-svelte-vs-vue"
      >
        Npm Trends
      </a>
    </li>
  </ul>
</html>
